.container-mat .def_mat .parr_mater, .hdr {
  display: flex;
  justify-content: center;
}

.container-mat .def_mat .parr_mater .hover_mat, .container-mat .def_mat {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hdr {
  width: 100%;
  height: 600px;
  position: relative;
}
.hdr nav {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.529);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
  position: fixed;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 10010;
}
@media screen and (max-width: 800px) {
  .hdr nav {
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    position: fixed;
  }
}
.hdr nav div {
  width: 9.5rem;
  margin-left: 2rem;
}
@media screen and (max-width: 800px) {
  .hdr nav div {
    margin: auto;
  }
}
.hdr nav div img {
  width: 100%;
}
.hdr nav ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}
@media screen and (max-width: 800px) {
  .hdr nav ul {
    position: absolute;
    top: 2.3rem;
    left: 0;
    width: 100%;
    display: none;
    /* <===CAMBIAR POR BLOCK */
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}
.hdr nav ul li {
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .hdr nav ul li {
    margin: 0;
  }
}
.hdr nav ul li a {
  text-decoration: none;
  color: #e4e3e3;
  transition: 0.5s;
  font-family: "Merriweather", serif;
  font-size: 1rem;
}
.hdr nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .hdr nav ul li a {
    text-align: center;
    color: #fff;
    display: block;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
}

.header {
  background-image: url(/Imagenes/header.webp);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .header {
    background-image: url(/Imagenes/header_mobile.webp);
  }
}

.container-mat {
  width: 85%;
  height: 31.2rem;
  margin: 3.5rem auto 0;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  background-color: #c6c6c6;
  padding-top: 0.1px;
}
@media (max-width: 550px) {
  .container-mat {
    width: 90%;
    height: 60rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
  }
}
.container-mat .materiales {
  text-align: center;
}
.container-mat .materiales h2 {
  margin-top: 2rem;
  font-weight: bold;
}
.container-mat .materiales .materiales_grid {
  width: 95%;
  height: 18rem;
  margin: 2.8rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.7rem;
}
@media (max-width: 550px) {
  .container-mat .materiales .materiales_grid {
    margin: 2.8rem auto 0;
  }
}
.container-mat .materiales .materiales_grid .item_material {
  /* outline: 1px solid black; */
  background-color: #939083;
  border: 4px solid;
  border-color: #4f4030 #fff #fff #4f4030;
}
.container-mat .materiales .materiales_grid .item_material img {
  width: 100%;
  height: 100%;
}
.container-mat .materiales .materiales_grid .sq1 {
  grid-area: 2/1/3/2;
}
.container-mat .materiales .materiales_grid .sq2 {
  grid-area: 1/2/2/3;
}
.container-mat .materiales .materiales_grid .sq3 {
  grid-area: 2/2/3/3;
}
.container-mat .materiales .materiales_grid .sq4 {
  grid-area: 3/2/4/3;
}
.container-mat .materiales .materiales_grid .sq5 {
  grid-area: 1/3/2/4;
}
.container-mat .materiales .materiales_grid .sq6 {
  grid-area: 2/3/3/4;
}
.container-mat .materiales .materiales_grid .sq7 {
  grid-area: 3/3/4/4;
}
.container-mat .materiales .materiales_grid .sq8 {
  grid-area: 1/4/2/5;
}
.container-mat .materiales .materiales_grid .sq9 {
  grid-area: 2/4/3/5;
}
.container-mat .materiales .materiales_grid .sq10 {
  grid-area: 3/4/4/5;
}
.container-mat .img_flecha {
  width: 50%;
  margin: auto;
}
@media (max-width: 550px) {
  .container-mat .img_flecha {
    width: 25%;
    height: 5.5rem;
    margin: 0 auto;
    transform: rotate(90deg);
  }
}
.container-mat .img_flecha .flecha {
  width: 100%;
}
@media (max-width: 550px) {
  .container-mat .def_mat {
    align-items: flex-start;
  }
}
.container-mat .def_mat .parr_mater {
  width: 90%;
  height: 60%;
  line-height: 1.2rem;
  text-align: center;
  position: relative;
  flex-direction: column;
  background-color: #939083;
  border: 4px solid;
  border-color: #4f4030 #fff #fff #4f4030;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
}
@media (max-width: 800px) {
  .container-mat .def_mat .parr_mater {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater {
    height: 65%;
    margin-top: 2rem;
  }
}
.container-mat .def_mat .parr_mater:hover .hover_mat {
  transform: scale(1);
}
.container-mat .def_mat .parr_mater .hover_mat {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(12deg, 80%, 37%, 0.856);
  transform: scale(0);
  transition: transform 1s ease;
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat {
    width: 100%;
    height: 28%;
    position: relative;
    background-color: hsla(12deg, 80%, 37%, 0);
    transform: scale(1);
  }
}
.container-mat .def_mat .parr_mater .hover_mat a {
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 1rem;
  border: 3px solid #fff;
  border-radius: 0.5rem;
  transition: 1s;
  font-weight: normal;
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat a {
    background-color: hsla(12deg, 80%, 37%, 0.945);
    border: 3px solid hsla(12deg, 80%, 37%, 0.856);
  }
}
.container-mat .def_mat .parr_mater .hover_mat a:hover {
  background-color: #fff;
  color: hsla(12deg, 80%, 37%, 0.801);
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat a:hover {
    background-color: hsl(12deg, 85%, 32%);
    color: #fff;
  }
}

.sct-amenazas {
  width: 100%;
  text-align: center;
}
.sct-amenazas .mncsct {
  width: 100%;
}
.sct-amenazas .mncsct img {
  width: 100%;
}
.sct-amenazas .cards-index {
  background-image: url(/Imagenes/bgminecraft.png);
  width: 100%;
  position: relative;
  top: -0.5rem;
  height: 620px;
  padding-top: 0.1rem;
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index {
    height: 1200px;
  }
}
.sct-amenazas .cards-index h2 {
  text-align: center;
  color: #cccccc;
  margin: 2.5rem 0;
}
.sct-amenazas .cards-index .cards-index-amnz {
  width: 80%;
  margin: auto;
  display: flex;
  height: 400px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 845px) {
  .sct-amenazas .cards-index .cards-index-amnz {
    width: 100%;
    height: 430px;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz {
    flex-direction: column;
    height: 85%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz {
    margin: 1rem auto;
    height: 30%;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
  width: 75%;
  height: 100%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #cccccc;
}
@media screen and (max-width: 845px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 88%;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 60%;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz h3 {
  color: #262626;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz img {
  width: 75%;
  margin: 1rem auto;
  height: 50%;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 375px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
    font-size: 0.8rem;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz:nth-child(1) img {
  width: 55%;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz:nth-child(3) img {
  width: 50%;
}
.sct-amenazas .cards-index a {
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  background-color: green;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
