.container-mat .def_mat .parr_mater, .hdr {
  display: flex;
  justify-content: center;
}

.footer_grid .slist_footer, .sct-biomas .galeria-index-biomas .img-i-bioma .hover-i-bioma, .container-mat .def_mat .parr_mater .hover_mat, .container-mat .def_mat {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hdr {
  width: 100%;
  height: 600px;
  position: relative;
}
.hdr nav {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.529);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
  position: fixed;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 10010;
}
@media screen and (max-width: 800px) {
  .hdr nav {
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    position: fixed;
  }
}
.hdr nav div {
  width: 9.5rem;
  margin-left: 2rem;
}
@media screen and (max-width: 800px) {
  .hdr nav div {
    margin: auto;
  }
}
.hdr nav div img {
  width: 100%;
}
.hdr nav ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}
@media screen and (max-width: 800px) {
  .hdr nav ul {
    position: absolute;
    top: 2.3rem;
    left: 0;
    width: 100%;
    display: none;
    /* <===CAMBIAR POR BLOCK */
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}
.hdr nav ul li {
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .hdr nav ul li {
    margin: 0;
  }
}
.hdr nav ul li a {
  text-decoration: none;
  color: #e4e3e3;
  transition: 0.5s;
  font-family: "Merriweather", serif;
  font-size: 1rem;
}
.hdr nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .hdr nav ul li a {
    text-align: center;
    color: #fff;
    display: block;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
}

.header {
  background-image: url(/Imagenes/header.webp);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .header {
    background-image: url(/Imagenes/header_mobile.webp);
    background-size: contain;
    background-position: top;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 240px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 200px;
  }
}

.container-mat {
  width: 85%;
  height: 31.2rem;
  margin: 3.5rem auto 0;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  background-color: #c6c6c6;
  padding-top: 0.1px;
}
@media (max-width: 550px) {
  .container-mat {
    width: 90%;
    height: 60rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
  }
}
.container-mat .materiales {
  text-align: center;
}
.container-mat .materiales h2 {
  margin-top: 2rem;
  font-weight: bold;
}
.container-mat .materiales .materiales_grid {
  width: 95%;
  height: 18rem;
  margin: 2.8rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.7rem;
}
@media (max-width: 550px) {
  .container-mat .materiales .materiales_grid {
    margin: 2.8rem auto 0;
  }
}
.container-mat .materiales .materiales_grid .item_material {
  /* outline: 1px solid black; */
  background-color: #939083;
  border: 4px solid;
  border-color: #4f4030 #fff #fff #4f4030;
}
.container-mat .materiales .materiales_grid .item_material img {
  width: 100%;
  height: 100%;
}
.container-mat .materiales .materiales_grid .sq1 {
  grid-area: 2/1/3/2;
}
.container-mat .materiales .materiales_grid .sq2 {
  grid-area: 1/2/2/3;
}
.container-mat .materiales .materiales_grid .sq3 {
  grid-area: 2/2/3/3;
}
.container-mat .materiales .materiales_grid .sq4 {
  grid-area: 3/2/4/3;
}
.container-mat .materiales .materiales_grid .sq5 {
  grid-area: 1/3/2/4;
}
.container-mat .materiales .materiales_grid .sq6 {
  grid-area: 2/3/3/4;
}
.container-mat .materiales .materiales_grid .sq7 {
  grid-area: 3/3/4/4;
}
.container-mat .materiales .materiales_grid .sq8 {
  grid-area: 1/4/2/5;
}
.container-mat .materiales .materiales_grid .sq9 {
  grid-area: 2/4/3/5;
}
.container-mat .materiales .materiales_grid .sq10 {
  grid-area: 3/4/4/5;
}
.container-mat .img_flecha {
  width: 50%;
  margin: auto;
}
@media (max-width: 550px) {
  .container-mat .img_flecha {
    width: 25%;
    height: 5.5rem;
    margin: 0 auto;
    transform: rotate(90deg);
  }
}
.container-mat .img_flecha .flecha {
  width: 100%;
}
@media (max-width: 550px) {
  .container-mat .def_mat {
    align-items: flex-start;
  }
}
.container-mat .def_mat .parr_mater {
  width: 90%;
  height: 60%;
  line-height: 1.2rem;
  text-align: center;
  position: relative;
  flex-direction: column;
  background-color: #939083;
  border: 4px solid;
  border-color: #4f4030 #fff #fff #4f4030;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
}
@media (max-width: 800px) {
  .container-mat .def_mat .parr_mater {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater {
    height: 65%;
    margin-top: 2rem;
  }
}
.container-mat .def_mat .parr_mater:hover .hover_mat {
  transform: scale(1);
}
.container-mat .def_mat .parr_mater .hover_mat {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(12deg, 80%, 37%, 0.856);
  transform: scale(0);
  transition: transform 1s ease;
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat {
    width: 100%;
    height: 28%;
    position: relative;
    background-color: hsla(12deg, 80%, 37%, 0);
    transform: scale(1);
  }
}
.container-mat .def_mat .parr_mater .hover_mat a {
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 1rem;
  border: 3px solid #fff;
  border-radius: 0.5rem;
  transition: 1s;
  font-weight: normal;
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat a {
    background-color: hsla(12deg, 80%, 37%, 0.945);
    border: 3px solid hsla(12deg, 80%, 37%, 0.856);
  }
}
.container-mat .def_mat .parr_mater .hover_mat a:hover {
  background-color: #fff;
  color: hsla(12deg, 80%, 37%, 0.801);
}
@media (max-width: 550px) {
  .container-mat .def_mat .parr_mater .hover_mat a:hover {
    background-color: hsl(12deg, 85%, 32%);
    color: #fff;
  }
}

.sct-amenazas {
  width: 100%;
  text-align: center;
  margin-bottom: -1rem;
}
.sct-amenazas .mncsct {
  width: 100%;
}
.sct-amenazas .mncsct img {
  width: 100%;
}
.sct-amenazas .cards-index {
  background-image: url(/Imagenes/bgminecraft.png);
  width: 100%;
  position: relative;
  top: -0.5rem;
  height: 610px;
  padding-top: 0.1rem;
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index {
    height: 1200px;
  }
}
.sct-amenazas .cards-index h2 {
  text-align: center;
  color: #cccccc;
  margin: 2.5rem 0;
}
.sct-amenazas .cards-index .cards-index-amnz {
  width: 80%;
  margin: auto;
  display: flex;
  height: 400px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 845px) {
  .sct-amenazas .cards-index .cards-index-amnz {
    width: 100%;
    height: 430px;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz {
    flex-direction: column;
    height: 85%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz {
    margin: 1rem auto;
    height: 30%;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
  width: 75%;
  height: 100%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #cccccc;
}
@media screen and (max-width: 845px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 88%;
  }
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz {
    width: 60%;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz h3 {
  color: #262626;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz img {
  width: 75%;
  margin: 1rem auto;
  height: 50%;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 550px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 375px) {
  .sct-amenazas .cards-index .cards-index-amnz .card-index-amz .card-ind-index-amz p {
    font-size: 0.8rem;
  }
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz:nth-child(1) img {
  width: 55%;
}
.sct-amenazas .cards-index .cards-index-amnz .card-index-amz:nth-child(3) img {
  width: 50%;
}
.sct-amenazas .cards-index a {
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  background-color: green;
  border-radius: 8px;
  margin-bottom: 4rem;
}

.sct-biomas {
  background-image: url(/Imagenes/bgminecraft.png);
  text-align: center;
  height: 570px;
  position: relative;
  padding-top: 1rem;
}
@media screen and (max-width: 750px) {
  .sct-biomas {
    height: 1200px;
  }
}
@media screen and (max-width: 345px) {
  .sct-biomas {
    height: 1800px;
  }
}
.sct-biomas h2 {
  color: #cccccc;
  margin-top: 1.5rem;
  padding: 2rem 0;
}
@media screen and (max-width: 750px) {
  .sct-biomas h2 {
    padding: 1rem 0;
  }
}
.sct-biomas .galeria-index-biomas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  height: 400px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .sct-biomas .galeria-index-biomas {
    width: 95%;
  }
}
@media screen and (max-width: 750px) {
  .sct-biomas .galeria-index-biomas {
    height: 1000px;
  }
}
.sct-biomas .galeria-index-biomas .img-i-bioma {
  width: 27%;
  position: relative;
  margin: 1rem;
  display: block;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma {
    width: 40%;
    height: 18%;
    margin: 4rem 1rem;
    overflow: visible;
  }
}
@media screen and (max-width: 500px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma {
    height: 12%;
    margin: 1rem 1rem;
  }
}
@media screen and (max-width: 345px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma {
    margin-bottom: 9rem;
  }
}
.sct-biomas .galeria-index-biomas .img-i-bioma img {
  width: 100%;
  height: 100%;
}
.sct-biomas .galeria-index-biomas .img-i-bioma .hover-i-bioma {
  font-family: "VT323", monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 174, 6, 0.616);
  transform: scale(0);
  transition: transform 1s;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma .hover-i-bioma {
    position: relative;
    transform: scale(1);
    height: 60%;
    background-color: rgba(6, 174, 6, 0);
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma .hover-i-bioma {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 345px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma .hover-i-bioma {
    margin-bottom: 1rem;
  }
}
.sct-biomas .galeria-index-biomas .img-i-bioma h3 {
  color: #552202;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}
@media screen and (max-width: 750px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma h3 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    color: #fff;
  }
}
@media screen and (max-width: 500px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma h3 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
}
.sct-biomas .galeria-index-biomas .img-i-bioma p {
  color: #552202;
  font-size: 1.1rem;
}
@media screen and (max-width: 750px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma p {
    color: #fff;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .sct-biomas .galeria-index-biomas .img-i-bioma p {
    font-size: 0.8rem;
  }
}
.sct-biomas .galeria-index-biomas .img-i-bioma:hover .hover-i-bioma {
  transform: scale(1);
}

.contsection-gamepass {
  background-image: url(/Imagenes/GamePass/bgscthaloo.png);
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 600px) {
  .contsection-gamepass {
    height: 500px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass {
    height: 400px;
  }
}
.contsection-gamepass .text-sct-gamepass {
  width: 40%;
  height: 70%;
  margin-left: 2rem;
}
@media screen and (max-width: 750px) {
  .contsection-gamepass .text-sct-gamepass {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .contsection-gamepass .text-sct-gamepass {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass .text-sct-gamepass {
    margin-top: 1rem;
  }
}
.contsection-gamepass .text-sct-gamepass h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 750px) {
  .contsection-gamepass .text-sct-gamepass h2 {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass .text-sct-gamepass h2 {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1rem;
  }
}
.contsection-gamepass .text-sct-gamepass h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}
.contsection-gamepass .text-sct-gamepass h3::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .contsection-gamepass .text-sct-gamepass h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass .text-sct-gamepass h3 {
    font-size: 0.7rem;
    margin-top: 0.15rem;
    margin-bottom: 0.4rem;
  }
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2.5rem 0;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass {
    height: 50%;
    grid-gap: 0.5rem;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass {
    height: 40%;
    grid-gap: 0.2rem;
    margin: 0.8rem 0;
  }
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass {
  height: inherit;
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass img {
  height: 70%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass img {
    height: 50%;
    margin-bottom: 0.7rem;
  }
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass p {
  color: #fff;
  font-size: 1rem;
}
@media screen and (max-width: 750px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass p {
    font-size: 0.5rem;
  }
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass:nth-child(3) img {
  height: 50%;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass:nth-child(3) img {
    height: 35%;
  }
}
.contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass:nth-child(4) img {
  height: 50%;
}
@media screen and (max-width: 900px) {
  .contsection-gamepass .text-sct-gamepass .servic-sct-gamepass .serv-sct-gamepass:nth-child(4) img {
    height: 35%;
  }
}

.footer_grid {
  display: grid;
  grid-template-areas: "first second third";
  height: 200px;
  background-color: #3f3f3f;
}
@media screen and (max-width: 500px) {
  .footer_grid {
    grid-template-areas: "first third" "second second";
    height: 300px;
  }
}
.footer_grid .flist_footer {
  grid-area: first;
  padding-left: 2rem;
  padding-top: 0.8rem;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .footer_grid .flist_footer h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 380px) {
  .footer_grid .flist_footer h2 {
    font-size: 0.9rem;
  }
}
.footer_grid .flist_footer ul {
  list-style: none;
  margin-top: 1rem;
}
.footer_grid .flist_footer ul li {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}
.footer_grid .flist_footer ul li:nth-child(1) ion-icon {
  color: #3b5998;
}
.footer_grid .flist_footer ul li:nth-child(2) ion-icon {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  border-radius: 5px;
}
.footer_grid .flist_footer ul li:nth-child(3) ion-icon {
  color: #00acee;
}
@media screen and (max-width: 500px) {
  .footer_grid .flist_footer ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 380px) {
  .footer_grid .flist_footer ul li {
    font-size: 0.7rem;
  }
}
.footer_grid .slist_footer {
  grid-area: second;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .footer_grid .slist_footer {
    margin-bottom: 2rem;
  }
}
.footer_grid .slist_footer ul {
  display: flex;
  list-style: none;
}
.footer_grid .slist_footer ul li {
  margin: 0.4rem 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 1s;
}
.footer_grid .slist_footer ul li:nth-child(1) ion-icon {
  color: #7EB900;
}
.footer_grid .slist_footer ul li:nth-child(2) ion-icon {
  color: #fff;
}
.footer_grid .slist_footer ul li:nth-child(3) ion-icon {
  color: red;
}
.footer_grid .slist_footer ul li:hover {
  transform: scale(1.5) translateY(-0.8rem);
}
@media screen and (max-width: 380px) {
  .footer_grid .slist_footer ul li {
    font-size: 2rem;
  }
}
.footer_grid .slist_footer h4 {
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 780px) {
  .footer_grid .slist_footer h4 {
    font-size: 0.7rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 380px) {
  .footer_grid .slist_footer h4 {
    font-size: 0.6rem;
  }
}
.footer_grid .slist_footer div {
  margin-top: 0.7rem;
}
.footer_grid .slist_footer div a {
  color: #fefefe;
  margin: 0 1rem;
}
@media screen and (max-width: 780px) {
  .footer_grid .slist_footer div a {
    font-size: 0.7rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 380px) {
  .footer_grid .slist_footer div a {
    font-size: 0.6rem;
  }
}
.footer_grid .tlist_footer {
  grid-area: third;
  display: flex;
  justify-content: flex-end;
}
.footer_grid .tlist_footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  padding-top: 0.8rem;
}
.footer_grid .tlist_footer ul li {
  margin-bottom: 1rem;
}
.footer_grid .tlist_footer ul li a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 380px) {
  .footer_grid .tlist_footer ul li a {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
