.hdr{
    width: $wfll;
    height: $hvar * 6;
    position: relative;
    @extend %dsflex;
    nav{
        background: rgba($black, 0.40);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.529);
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba($white, 0.18);
        width: $wfll - 20;
        position: fixed;
        top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        z-index: 10010;
        @media screen and (max-width: 800px) {
            border: 1px solid rgba($white, 0.18);
            width: $wfll - 10;
            position: fixed;
        }
        div{
            width: 9.5rem;
            margin-left: $rem + 1;
            @media screen and (max-width: 800px){
                margin: auto;
            }
            img{
                width: $wfll;
            }
        }
        ul{
            display: flex;
            list-style: $non;
            margin-right: 2rem;
            @media screen and (max-width: 800px){
                position: absolute;
                top: $rem + 1.3;
                left: 0;
                width: $wfll;
                display: $non; /* <===CAMBIAR POR BLOCK */
                margin-right: 0;
                background-color: rgba($black, 0.4);
                z-index: 1000;
            }
            li{
                margin: $rem;
                @media screen and (max-width: 800px){
                    margin: 0;
                }
                a{
                    text-decoration: $non;
                    color: $navff;
                    transition: .5s;
                    font-family: $ff-nav;
                    font-size: 1rem;
                    &:hover{
                        color: $white;
                        text-decoration: underline;
                    }
                    @media screen and (max-width: 800px){
                        text-align: center;
                        color: $white;
                        display: block;
                        padding: 2rem $rem;
                        font-size: 1.5rem
                    }
                }
            }
        }
    }
}
.header{
    background-image: url(/Imagenes/header.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: flex-end;
    @media screen and (max-width: 800px) {
        background-image: url(/Imagenes/header_mobile.webp);
        background-size: contain;
        background-position: top;
        height: 350px;
    }
    @media screen and (max-width: 600px){
        height: 240px;
    }
    @media screen and (max-width: 400px){
        height: 200px;
    }
    .section_header{
        margin-bottom: 10rem;
        @include tblt(){
            margin-bottom: 4rem;
        }
        @include movil(){
            margin-bottom: 2.5rem;
        }
        button{
            @include boton(9rem, 40px, rgba(114, 20, 34, 0), 6px, 3.8px, #721422);
            a{
                @include textboton(#721422, 1.2rem, bolder);
                @include tblt(){
                    color: white;
                    background-color: #721422;
                }
            }
            &::after{
                @include afterboton(#721422, -40px, 2px);
                @include tblt(){
                    top: 0;
                }
            }
            &:hover::after{
                top: 0;
            }
            &:hover a{
                color: white;
            }

        }
    }
}
.hdr-amenazas{
    height: 90px;
}
.header-biomas{
    height: 0;
}