
/*HEADER*/

.log {
    width: 10rem;
}

.logo {
    width: 100%;
}
header section{
    position: relative;
}
.carousel {
    max-height: 36rem;
}

.carousel-indicators {
    max-height: inherit;
}

.carousel-inner {
    max-height: inherit;
}

.carousel-item {
    max-height: inherit;
}

.carousel-item img {
    max-height: inherit;
}
.carousel-item:nth-child(2) img {
    height: 100%;
}

.sobrepuesto-header {
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
}

.cards-sobr-header {
    width: 50%;
    height: 100%;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    -webkit-box-shadow: 0px 14px 50px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 50px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 50px 1px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.cards-sobr-header a {
    font-size: 3rem;
}

.cards-sobr-header h2 {
    font-size: 1rem;
}

.crad-head {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-sobr-header .crad-head:nth-child(1) a {
    color: #77bb44;
}

.cards-sobr-header .crad-head:nth-child(2) a {
    color: black
}

.cards-sobr-header .crad-head:nth-child(3) a {
    color: #107c10;
}

.crad-head a {
    transition: transform 1s;
}

.crad-head a:hover {
    transform: translateY(-1rem) scale(1.2);
}

@media screen and (max-width: 870px) {
    .sobrepuesto-header {
        bottom: -6rem;
    }
    .cards-sobr-header {
        height: 8rem;
    }

    .cards-sobr-header a {
        font-size: 3.5rem;
    }

    .crad-head h2 {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .sobrepuesto-header {
        bottom: -8rem;
    }

    .cards-sobr-header {
        height: 5rem;
    }

    .cards-sobr-header a {
        font-size: 1.5rem;
    }
}

/*PRIMER SECTION MAIN*/

.main-sect-uno{
    background-image: url(../img/bg-section.png);
    height: 600px;
    padding: 0.1px;
    font-family: 'Roboto', sans-serif;
}
.main-sect-uno h3{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 7rem;
    color: #2ea24d;
}
.cont-sect-uno{
    padding-top: 4rem;
}
.col{
    height: 15rem;
}
.personajes-mine{
    width: 85%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 1s;
}
.personajes-mine img{
    width: 70%;
    height: 100%;
}
.col:nth-child(3) .personajes-mine{
    width: 60%;
}
.col h4{
    color: #fff;
    margin-top: 1.5rem;
    font-weight: bolder;
    transition:  color .5s;
}
.personajes-mine:hover{
    transform: scale(1.2);
}
.personajes-mine:hover h4{
    color: #77BB44;
}
@media screen and (max-width: 870px){
    .main-sect-uno h3{
        font-size: 1.5rem;
        margin-top: 7rem;
    }
    .personajes-mine{
        width: 90%;
    }
    .personajes-mine img{
        width: 90%;
        height: 90%;
    }
    .col:nth-child(3) .personajes-mine{
        width: 70%;
    }
    .col h4{
        color: #fff;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 485px){
    .main-sect-uno{
        height: 500px;
    }
    .main-sect-uno h3{
        font-size: 1.2rem;
        margin-top: 6rem;
    }
    .personajes-mine{
        width: 100%;
    }
    .personajes-mine img{
        width: 95%;
        height: 70%;
    }
    .col:nth-child(3) .personajes-mine img{
        width: 100%;
    }
    .col h4{
        color: #fff;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 345px){
    .col:nth-child(3){
        display: none;
    }
}

/*SEGUNDO SECTION MAIN*/

.main-sect-dos{
    width: 100%;
    height: 650px;
    background-image: url(../img/bgHalo.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.card{
    background-color: rgba(255, 255, 255, 0);
    width: 13rem;
}
.bgi-card{
    background-image: url(../img/bg-card-halo.webp);
    background-size: cover;
}
.bgi-card h5, h6{
    color: #fff;
}

@media screen and (max-width: 1100px){
    .main-sect-dos{
        height: 820px;
    }
    .caratulas{
        flex-direction: column;
        margin: 0;
        width: 100%;
        max-width: 1200px;
    }
    .cards-contain{
        width: 100%;
        margin: 0;
        max-width: 1200px;
        justify-content: space-between;
    }
    .card{
        width: 10rem;
        height: 350px;
    }
}
@media screen and (max-width: 715px){
    .main-sect-dos{
        height: 820px;
    }
    .caratulas{
        flex-direction: column;
        margin: 0;
        width: 100%;
        max-width: 1200px;
    }
    .cards-contain{
        width: 100%;
        margin: 0;
        max-width: 1200px;
        justify-content: space-between;
    }
    .card{
        width: 8rem;
        height: 250px;
    } 
    .card-body h5{
        font-size: 1rem;
    }
    .card-body h6{
        font-size: .7rem;
    }
    .resp-mob{
        position: relative;
        top: 7rem;
    }
}