$wfll: 100%;
$hvar: 100px;
$non: none;
$rem: 1rem;
$mesacraft: #c6c6c6;
$bgmat: #939083;
$brdmat: #4f4030;
%dsflex{
    display: flex;
    justify-content: center;
}
%dsflexfll{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex($dsf, $jc, $ai){
    display: $dsf;
    justify-content: $jc;
    align-items: $ai;
}
@mixin tblt(){
    @media screen and (max-width: 775px) {
        @content;
    }
}
@mixin movilmedia(){
    @media screen and (max-width: 450px) {
        @content;
    }
}
@mixin movil(){
    @media screen and (max-width: 450px) {
        @content;
    }
}