$wfll: 100%;
$hvar: 100px;
$non: none;
$rem: 1rem;
$mesacraft: #c6c6c6;
$bgmat: #939083;
$brdmat: #4f4030;
%dsflex{
    display: flex;
    justify-content: center;
}
%dsflexfll{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex($dsf, $jc, $ai){
    display: $dsf;
    justify-content: $jc;
    align-items: $ai;
}
@mixin tblt(){
    @media screen and (max-width: 775px) {
        @content;
    }
}
@mixin movilmedia(){
    @media screen and (max-width: 450px) {
        @content;
    }
}
@mixin movil(){
    @media screen and (max-width: 450px) {
        @content;
    }
}
@mixin boton($wit, $h, $bgc, $borr, $bh, $bc){
    width: $wit;
    height: $h;
    background-color: $bgc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: $borr;
    border: $bh solid $bc;
    overflow: hidden;
    cursor: pointer;
}
@mixin textboton($ctext, $ttext, $wtext){
    text-decoration: none;
    z-index: 2;
    color: $ctext;
    font-size: $ttext;
    font-weight: $wtext;
    transition: color 1.8s ease-out;
}
@mixin afterboton($bgaft, $taft, $braft){
    content: "";
    width: 100%;
    height: 100%;
    background-color: $bgaft;
    position: absolute;
    top: $taft;
    left: 0;
    z-index: 1;
    transition: top 1s ease-in-out;
    border-radius: $braft;
}
